font1 {
    font-family: 'Lemonada', cursive;
    font-size: 32px;
    color: royalblue;
}

font2 {
    font-family: 'Cairo', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: black;
}

font3 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: black;
}

body {
    background-image: url('/assets/images/bg.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5px;
}

footer {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}